@CHARSET "ISO-8859-1";

.head{
  background-color:#F0F8FF;
  
  height:20%; /* The width is 20%, by default */
}

.search{
  background-color:#FFE4E1;
 font-color: 
  height:30%; /* The width is 20%, by default */
}
.search.Search{
	font-color:	#808000;
}

#pic{
	float:left;
}
#home{	
  	height:30%; 	
}
#welcome{
	font-color:"purple";
	
}
header{
height:20%;	
background-color:#FAEBD7;
}

.product1{
background-color:#ADD8E6;
}

.product2{
background-color:#E0FFFF;
}

.t{
	float:"left";
}

.t1{
	float:"right";
}
footer{
height:20%;
float:"left";
background-color:#778899;
}

#main{
height:50%;
background-color:#778899;
}
